@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Description:</h3>

<p>The objetive of this blog is to show you how simple it is to use <strong>ASP.Net Core With Docker in Visual Studio 2017</strong></p>
