@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>To Contact me:</h3>

<address>
    <p>
        <strong>Name:</strong>Ignacio Alfonso Calabrese <br />
        <strong>Location:</strong>: Lanùs, Buenos Aires, Argentina<br />
        <strong>Support:</strong> <a href="mailto:ignacio-calabrese@hotmail.com">ignacio-calabrese@hotmail.com</a>    
    </p>
</address>


